<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #mapElement id="mapElement">
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onMapType()" size="small" color="light">
        <ion-icon *ngIf="afterMapTypeClick" name="logo-buffer"></ion-icon>
        <ion-icon *ngIf="!afterMapTypeClick" src="assets/imgs/icon/stack-of-square-papers.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab horizontal="end" slot="fixed" style="margin-top: 14%;">
      <ion-fab-button (click)="onTraffic()" size="small" color="light">
        <ion-icon *ngIf="!afterClick" src="assets/imgs/icon/traffic-light-before.svg">
        </ion-icon>
        <ion-icon *ngIf="afterClick" src="assets/imgs/icon/traffic-light.svg">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
</ion-content>