ion-card {
    background-color: #f7f7f7;
    border: solid 1px #ddd;
    padding: 9px;
    height: 85px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    text-align: end;
    font-size: medium;
    font-family: initial;
  }
  .d {
    margin-left: 20px;
    margin-top: 10px;
  }
  ion-item {
    --background: transparent;
  }
  #cart-btn {
    position: relative;
    top: 5px;
  }
  
  #cart-badge {
    position: absolute;
    // top: -5px;
    // right: 0px;
    top: 1px;
    right: 15px;
    border-radius: 50%;
  }
  #mapElement {
    width: 100%;
    height: 100%;
  }