<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Devices</ion-title>
    <!-- <ion-icon *ngIf="(userToken ? userToken.administrator : false)" slot="end" name="add"
      style="font-size: 1.8em; padding-right: 10px;" (click)="addDevice()"></ion-icon> -->
    <!-- <div *ngIf="userToken"> -->
      <ion-icon *ngIf="userToken ? (userToken.administrator === true || userToken.deviceLimit === -1) : false" slot="end" name="add"
        style="font-size: 1.8em; padding-right: 10px;" (click)="addDevice()"></ion-icon>
    <!-- </div> -->

  </ion-toolbar>
  <ion-segment scrollable mode="md" (ionChange)="onSegmentChange($event)" [(ngModel)]="segment">
    <ion-segment-button mode="md" checked value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="moving">
      <ion-label>Online</ion-label>
    </ion-segment-button>
    <ion-segment-button mode="md" value="out_of_reach">
      <ion-label>Offline</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-card *ngFor="let veh of vehicleList; let i = index;">
          <ion-row>
            <ion-col size="8" (click)="onVehDetail(veh)" class="ion-no-padding">
              <ion-row>
                <ion-col size="3">
                  <ion-img src="assets/imgs/green-{{veh.category ? veh.category : 'car'}}.png"
                    title="{{veh.Device_Name}}"
                    *ngIf="veh.status === 'online' && veh.attributes.ignition == true && veh.attributes.motion == true">
                  </ion-img>
                  <ion-img src="assets/imgs/red-{{veh.category ? veh.category : 'car'}}.png" title="{{veh.Device_Name}}"
                    *ngIf="veh.status === 'online' && veh.attributes.ignition == false && veh.attributes.motion == false">
                  </ion-img>
                  <ion-img src="assets/imgs/yellow-{{veh.category ? veh.category : 'car'}}.png"
                    title="{{veh.Device_Name}}"
                    *ngIf="veh.status === 'online' && veh.attributes.ignition == true && veh.attributes.motion == false">
                  </ion-img>
                  <ion-img src="assets/imgs/green-{{veh.category ? veh.category : 'car'}}.png"
                    title="{{veh.Device_Name}}"
                    *ngIf="veh.status === 'online' && veh.attributes.ignition == false && veh.attributes.motion == true">
                  </ion-img>
                  <ion-img src="assets/imgs/green-{{veh.category ? veh.category : 'car'}}.png"
                    title="{{veh.Device_Name}}"
                    *ngIf="veh.status === 'online' && veh.attributes.ignition == undefined && veh.attributes.motion == true">
                  </ion-img>
                  <ion-img src="assets/imgs/red-{{veh.category ? veh.category : 'car'}}.png" title="{{veh.Device_Name}}"
                    *ngIf="veh.status === 'online' && veh.attributes.ignition == undefined && veh.attributes.motion == false">
                  </ion-img>
                  <ion-img src="assets/imgs/blue-{{veh.category ? veh.category : 'car'}}.png"
                    title="{{veh.Device_Name}}" *ngIf="veh.status === 'offline' || veh.status === 'unknown'">
                  </ion-img>
                </ion-col>

                <ion-col size="9">
                  <ion-row>
                    <ion-col size="12">
                      <p style="margin: 0px; padding: 0px; color: black;"><b>{{veh.name}}</b></p>
                    </ion-col>
                    <ion-col size="12">
                      <p style="margin: 0px; padding: 0px; font-size: 0.8em;">{{veh.status}} |
                        {{veh.lastUpdate | date:'mediumDate'}}, {{veh.lastUpdate | date:'shortTime'}}</p>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="4">
              <ion-row>
                <ion-col size="3"></ion-col>
                <ion-col size="3">
                  <ion-icon *ngIf="veh.attributes.ignition === false" name="key" style="font-size: 1.5em; color: red;">
                  </ion-icon>
                  <ion-icon *ngIf="veh.attributes.ignition === true" name="key" style="font-size: 1.5em; color: green;">
                  </ion-icon>
                  <ion-icon *ngIf="veh.attributes.ignition === undefined" name="key" style="font-size: 1.5em;">
                  </ion-icon>
                </ion-col>
                <ion-col size="3">
                  <ion-icon name="power" *ngIf="!veh.attributes.charge" style="font-size: 1.3em; color: red;">
                  </ion-icon>
                  <ion-icon name="power" *ngIf="veh.attributes.charge" style="font-size: 1.3em; color: green;">
                  </ion-icon>
                </ion-col>
                <ion-col size="3">
                  <ion-icon name="settings" color="dark" (click)="setAttribute(veh)" color="tertiary"
                    style="font-size: 1.5em;">
                  </ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="loading more data">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->


</ion-content>