// .r {
//   background-color: #f7f7f7;
// }
// .a {
//   margin-left: 1px;
//   color: black;
//   font-size: larger;
// }
// .b {
//   margin-left: 20px;
//   padding: 0%;
// }
// .c {
//   margin-left: 20px;
//   color: black;
//   font-size: larger;
// }
// ion-card {
//     height: ;
// }
