<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maintabs/tabs/vehicle-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{paramData.name}}</ion-title>
    <ion-buttons slot="primary" *ngIf="hideplayback">
      <ion-icon color="dark" name="rewind" style="font-size:19px;margin-top:11px;margin-right: 20px" (click)="changeSpeed('low')">
      </ion-icon>
      <ion-icon color="dark" name="arrow-dropright-circle" style="font-size:24px;margin-top:10px;margin-right: 15px"
        class="play" *ngIf="(allData.flag2 == 'init') || (allData.flag2 == 'start') " (click)="play2()"></ion-icon>
      <ion-icon color="dark" name="pause" style="font-size:24px;margin-top:10px;margin-right: 15px" class="pause"
        *ngIf="allData.flag2 == 'stop'" (click)="play2()"></ion-icon>
      <ion-icon color="dark" name="fastforward" style="font-size:19px;margin-top:11px;margin-right: 20px"
        (click)="changeSpeed('high')"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-row>
    <ion-col size="5" no-padding>
      <ion-row>
        <ion-col size="3" style="padding: 5px 0px 5px 0px;">
          <ion-icon style="font-size: 2.3em; margin: 0px; padding: 0px;" name="clock" color="medium"></ion-icon>
        </ion-col>
        <ion-col size="9" no-padding>
          <ion-row>
            <ion-col>
              <ion-label style="font-size: 0.9em">From Date</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a"
                [(ngModel)]="datetimeStart" style="padding: 0px;font-size:9px;color: #2ec95c;">
              </ion-datetime>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="5" no-padding>
      <ion-row>
        <ion-col size="3" style="padding: 5px 0px 5px 0px;">
          <ion-icon style="font-size: 2.3em; margin: 0px; padding: 0px;" name="clock" color="medium"></ion-icon>
        </ion-col>
        <ion-col size="9" no-padding>
          <ion-row>
            <ion-col>
              <ion-label style="font-size: 0.9em">To Date</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
                style="padding: 0px;font-size:9px;color: #dc0f0f;">
              </ion-datetime>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="2" no-padding>
      <div style="margin-top: 9px; float: right">
        <ion-icon color="medium" ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="onClick();">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>

</ion-header>

<ion-content>
  <div #map id="map_canvas" style="height:100%;"></div>
</ion-content>
<ion-footer *ngIf="(allData.flag2 == 'init') || (allData.flag2 == 'start')">
  <ion-row style="background-color: #dfdfdf; padding: 0px !important;">
    <ion-col size="4" style="padding: 0px">
      <p style="color:black;font-size:14px; text-align:center;">
        <ion-icon src="assets/imgs/163-1638744_vector-roads-milestone-vector-library-library-milestone-icon.svg" style="color:#209c43;font-size:15px;"></ion-icon>&nbsp;
        <span>{{ summaryData ? meterIntoKelometer(summaryData.distance) : 0 }} kms</span>
      </p>
    </ion-col>

    <ion-col size="4" style="padding: 0px">
      <p style="color:black;font-size:14px;text-align:center;">
        <ion-icon name="speedometer" style="color:#cd4343"></ion-icon>&nbsp;
        <span>{{ summaryData ? (summaryData.averageSpeed  | number: "1.0-2") : 0 }} km/h</span>
      </p>
    </ion-col>

    <ion-col size="4" style="padding: 0px">
      <p style="color:black;font-size:14px;text-align:center;">
        <ion-icon name="time" style="color:#4968be"></ion-icon>&nbsp;
        <span>{{ summaryData ? parseMillisecondsIntoReadableTime(summaryData.engineHours) : '0h 0min' }}</span>
      </p>
    </ion-col>
  </ion-row>
</ion-footer>
<ion-footer *ngIf="allData.flag2 == 'stop'">
  <ion-row style="background-color: #dfdfdf; padding: 0px !important;">
    <ion-col size="4" style="padding: 0px">
      <p style="color:black;font-size:14px; text-align:center;">
        <ion-icon name="time" style="color:#209c43;font-size:15px;"></ion-icon>&nbsp;
        <span *ngIf="updatetimedate">{{ updatetimedate }}&nbsp;</span>
        <span *ngIf="!updatetimedate">0:0&nbsp;</span>
      </p>
    </ion-col>

    <ion-col size="4" style="padding: 0px">
      <p style="color:black;font-size:14px;text-align:center;">
        <ion-icon name="speedometer" style="color:#cd4343"></ion-icon>&nbsp;
        <span *ngIf="speedMarker">{{ speedMarker }} km/h</span>
        <span *ngIf="!speedMarker">0 km/h</span>
      </p>
    </ion-col>

    <ion-col size="4" style="padding: 0px">
      <p style="color:black;font-size:14px;text-align:center;">
        <ion-icon src="assets/imgs/163-1638744_vector-roads-milestone-vector-library-library-milestone-icon.svg" style="color:#4968be"></ion-icon>&nbsp;
        <span>{{ cumu_distance ? (cumu_distance | number: "1.0-2") : 0 }} kms</span>
      </p>
    </ion-col>
  </ion-row>
</ion-footer>