<ion-header>
  <ion-toolbar color="tertiary">
    <ion-back-button slot="start" defaultHref="/maintabs/tabs/settings/users"></ion-back-button>
    <ion-title>Add New User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input *ngIf="!showPass" type="password" [(ngModel)]="password"></ion-input>
            <ion-input *ngIf="showPass" type="text" [(ngModel)]="password"></ion-input>
            <ion-icon *ngIf="!showPass" slot="end" name="eye-off" (click)="showPass = true"></ion-icon>
            <ion-icon *ngIf="showPass" slot="end" name="eye" (click)="showPass = false"></ion-icon>
          </ion-item>

          <ion-item-group>
            <ion-item-divider color="light">Permissions</ion-item-divider>
            <ion-row style="padding: 10px 10px 0px 10px;">
              <ion-col col-6>
                <ion-label>Disabled:</ion-label>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-checkbox color="dark" [(ngModel)]="disabled"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row style="padding: 0px 10px 0px 10px;" *ngIf="(userToken ? userToken.administrator : false)">
              <ion-col col-6>
                <ion-label>Admin:</ion-label>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-checkbox color="dark" [(ngModel)]="admin"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row style="padding: 0px 10px 0px 10px;">
              <ion-col col-6>
                <ion-label>Readonly:</ion-label>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-checkbox color="dark" [(ngModel)]="readonly"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row style="padding: 0px 10px 0px 10px;">
              <ion-col col-6>
                <ion-label>Device Readonly:</ion-label>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-checkbox color="dark" [(ngModel)]="device_readonly"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row style="padding: 0px 10px 0px 10px;">
              <ion-col col-6>
                <ion-label>Limit Commands:</ion-label>
              </ion-col>
              <ion-col col-6>
                <ion-item>
                  <ion-checkbox color="dark" [(ngModel)]="limit_commands"></ion-checkbox>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-label position="floating">Expiration:</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY h:mm A" pickerFormat="DD/MM/YYYY h mm A" [(ngModel)]="expiration_date"></ion-datetime>
            </ion-item>
            <ion-item *ngIf="(userToken ? userToken.administrator : false)">
              <ion-label position="floating">Device Limit:</ion-label>
              <ion-input type="text" [(ngModel)]="device_limit"></ion-input>
            </ion-item>
            <ion-item *ngIf="(userToken ? userToken.administrator : false)">
              <ion-label position="floating">User Limit:</ion-label>
              <ion-input type="text" [(ngModel)]="user_limit"></ion-input>
            </ion-item>
          </ion-item-group>
          <ion-button expand="block" color="tertiary" (click)="addUser()">Add User</ion-button>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>