<ion-header>
  <ion-toolbar color="tertiary">
    <ion-back-button slot="start" defaultHref="/maintabs/tabs/settings"></ion-back-button>
    <ion-title>Users</ion-title>
    <!-- <ion-icon *ngIf="(userToken ? userToken.administrator : false)" slot="end" name="add" style="font-size: 1.8em; padding-right: 10px;" (click)="addUser()"></ion-icon> -->
    <!-- <div *ngIf="userToken"> -->
    <ion-icon *ngIf="(userToken ? (userToken.administrator === true || userToken.userLimit !== 0) : false)" slot="end" name="add" style="font-size: 1.8em; padding-right: 10px;" (click)="addUser()"></ion-icon>
    <!-- </div> -->

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of userList">
      <ion-thumbnail slot="start">
        <img src="assets/Images/user-image-.png">
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        <ion-text color="tertiary">
          <h2>{{item.name | titlecase}}</h2>
        </ion-text>
        <p>Email - {{item.email}}</p>
        <!-- <p>Admin - {{(item.administrator === 'true') ? 'Yes' : 'No'}}</p> -->
        <p>Disabled - {{(item.disabled === 'true') ? 'Yes' : 'No'}}</p>
      </ion-label>
      <ion-badge slot="end" *ngIf="item.administrator === true" color="tertiary">Admin</ion-badge>
      <ion-chip slot="end" (click)="addDevice(item)" color="tertiary">Add Device</ion-chip>
    </ion-item>
  </ion-list>
</ion-content>