<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <div style="margin: auto; margin-top: 50%;">
          <div style="text-align: center; margin: auto;">
            <p style="font-size: 1.5em; font-weight: 500;">Auto Telematics Server</p>
          </div>

          <ion-list>
            <ion-item>
              <ion-label position="fixed">Server</ion-label>
              <ion-input type="text" [(ngModel)]="server_ip"></ion-input>
            </ion-item>
          </ion-list>

          <div style="text-align: center; margin: auto;">
            <p style="font-size: 1em; font-weight: 500; color: gray;">This screen will be shown only once. After you
              click the button,
              server address will be saved in preferences. To Change it, clear app data from application manager or
              logout
              from app.</p>
          </div>

          <ion-row>
            <ion-col size="12" class="ion-text-center">
              <ion-button color="tertiary" (click)="onConnect()" [disabled]="!server_ip">Start</ion-button>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>