<ion-header>
  <ion-toolbar color="tertiary">
    <ion-back-button slot="start" defaultHref="/maintabs/tabs/alerts"></ion-back-button>
    <ion-title>Add Geofence</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" [(ngModel)]="name"></ion-input>
          </ion-item>
          <ion-row>
            <ion-col size="6" class="ion-no-padding">
              <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-input type="text" [(ngModel)]="description"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6" style="padding:15px;">
              <ion-button expand="block" color="light" (click)="addArea()">Add Area</ion-button>
            </ion-col>
          </ion-row>

          <!-- <div style="padding-left: 5px; padding-right: 5px"> -->
          <!-- <ion-list style="margin: 0px; border-radius: 25px; background: #d5dbe3;"> -->
          <ion-item *ngIf="showMap">
            <ion-range min="200" max="10000" step="100" snaps="true" ticks="false" color="tertiary" [(ngModel)]="fence"
              (ionChange)="callThis(fence)">
              <ion-icon slot="start" name="remove-circle" color="tertiary"></ion-icon>
              <ion-icon slot="end" name="add-circle" color="tertiary"></ion-icon>
            </ion-range>
          </ion-item>
          <ion-row *ngIf="showMap">
            <ion-col size="6" style="padding-left: 10px;">Radius:</ion-col>
            <ion-col size="6" style="text-align: right;padding-right: 10px;">
              <ion-badge color="tertiary">{{ fence }}</ion-badge>
            </ion-col>
          </ion-row>

        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="showMap" #map111 id="map_geofence" style="height:50%;"></div>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-button expand="block" color="tertiary" (click)="addGeofence()">Add Geofence</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>