<ion-content>
  <div class="warning">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" style="margin-top: 20%;">
      <ion-grid>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3" class="ion-text-center">
            <ion-img src="assets/icon.png" style="width: 120px; margin: auto">
            </ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-list style="background-color: transparent;">
              <ion-item style="color: #fff;">
                <ion-label position="floating">E-Mail / Mobile Number</ion-label>
                <ion-input type="text" ngModel name="email" required #emailCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item style="color: #fff;">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" ngModel name="password" required #passwordCtrl="ngModel">
                </ion-input>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <!-- <ion-button color="tertiary" type="button" fill="clear" expand="block" (click)="onSwitchAuthMode()">Switch To
              {{ isLogin ? "Signup" : "Login" }}</ion-button> -->
            <ion-button color="tertiary" type="submit" expand="block" [disabled]="!f.valid">Login
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
