<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maintabs/tabs/vehicle-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <!-- <ion-row>
    <ion-col>
      <p style="background: black; color: white; font-weight: 600;font-size: 1.3em;text-align: center;">{{newVariable}}</p>
    </ion-col>
  </ion-row> -->
  <div #map123 id="map_canvas123">
    <!-- fab placed to the top start -->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onMapType()" size="small" color="light">
        <ion-icon *ngIf="afterMapTypeClick" name="logo-buffer"></ion-icon>
        <ion-icon *ngIf="!afterMapTypeClick" src="assets/imgs/icon/stack-of-square-papers.svg"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab horizontal="end" slot="fixed" style="margin-top: 14%;">
      <ion-fab-button (click)="onTraffic()" size="small" color="light">
        <ion-icon *ngIf="!afterClick" src="assets/imgs/icon/traffic-light-before.svg">
        </ion-icon>
        <ion-icon *ngIf="afterClick" src="assets/imgs/icon/traffic-light.svg">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- <ion-fab *ngIf="ignitionKey !== undefined" horizontal="end" slot="fixed" style="margin-top: 28%;">
      <ion-fab-button (click)="onImmo123()" size="small" color="light">
        <ion-icon *ngIf="ignitionKey == false" name="lock" color="danger">
        </ion-icon>
        <ion-icon *ngIf="ignitionKey == true" name="unlock" color="success">
        </ion-icon>
      </ion-fab-button>
    </ion-fab> -->
    <ion-fab horizontal="end" slot="fixed" style="margin-top: 28%;">
      <ion-fab-button (click)="onImmo123()" size="small" color="light">
        <ion-icon name="lock" color="tertiary">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab horizontal="end" slot="fixed" style="margin-top: 41%;">
      <ion-fab-button (click)="addGeofence()" size="small" color="light">
        <ion-icon src="assets/imgs/locate.svg" color="tertiary">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-row>
      <ion-col>
        <p id="para" style="text-align: center;font-size:18px;color: #633ce0;font-weight: 600;">
          <!-- {{newVariable}} -->
          <span style="font-size:16px;">km/h</span></p>
        <!-- <p class="blink" style="text-align: center;font-size:18px;color: green;font-weight: 600;"
          *ngIf="vehicle_speed <= 60">
          {{ vehicle_speed }}
          <span style="font-size:16px;">km/h</span>
        </p>
        <p class="blink" style="text-align: center;font-size:18px;color: red;font-weight: 600;"
          *ngIf="vehicle_speed > 60">
          {{ vehicle_speed }}
          <span style="font-size:16px;">km/h</span>
        </p> -->
      </ion-col>
    </ion-row>
  </div>
</ion-content>