<ion-tabs>
    <ion-tab-bar slot="bottom" #myTabBar id="myTabBar">
        <ion-tab-button tab="dashboard">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="map">
            <ion-icon name="map"></ion-icon>
            <ion-label>Map</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="vehicle-list">
            <ion-icon name="car"></ion-icon>
            <ion-label>Vehicles</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="reports">
            <ion-icon name="albums"></ion-icon>
            <ion-label>Reports</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="alerts">
            <ion-icon src="assets/imgs/locate.svg"></ion-icon>
            <ion-label>Geofences</ion-label>
        </ion-tab-button>

        <!-- <ion-tab-button tab="settings">
            <ion-icon name="cog"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button> -->

    </ion-tab-bar>
</ion-tabs>