<ion-header>
  <ion-toolbar color="tertiary">
    <ion-back-button slot="start" defaultHref="/maintabs/tabs/vehicle-list"></ion-back-button>
    <ion-title>Add Attribute</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-select cancelText="Nah" okText="Okay!" [(ngModel)]="selectedName">
              <ion-select-option value="speedLimit">Speed Limit</ion-select-option>
          </ion-select>
          </ion-item>
          <ion-row>
            <ion-col size="10">
              <ion-item>
                <ion-label position="floating">Value</ion-label>
                <ion-input type="number" [(ngModel)]="value"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="2">
              <p>m/h</p>
            </ion-col>
          </ion-row>
         
          <ion-button expand="block" color="tertiary" (click)="addAttribute()">Add attribute</ion-button>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>