<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="live-track" (click)="clickTab($event, 'live-track')">
      <ion-icon src="assets/imgs/icon/location-on-map.svg"></ion-icon>
      <ion-label>Track</ion-label>
    </ion-tab-button>
 
    <ion-tab-button (click)="history()">
      <ion-icon src="assets/imgs/icon/history.svg"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="more">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>Alerts</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>