<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maintabs/tabs/reports">

      </ion-back-button>
    </ion-buttons>
    <ion-title>{{report_name | titlecase}} Report</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col size="5" no-padding>
      <ion-row>
        <ion-col size="3" style="padding: 5px 0px 5px 0px;">
          <ion-icon style="font-size: 2.5em; margin: 0px; padding: 0px;" name="clock" color="medium"></ion-icon>
        </ion-col>
        <ion-col size="9" no-padding>
          <ion-row>
            <ion-col>
              <ion-label style="font-size: 0.9em">From Date</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a"
                [(ngModel)]="datetimeStart" style="padding: 0px;font-size:9px;color: #048a2c;">
              </ion-datetime>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="5" no-padding>
      <ion-row>
        <ion-col size="3" style="padding: 5px 0px 5px 0px;">
          <ion-icon style="font-size: 2.5em; margin: 0px; padding: 0px;" name="clock" color="medium"></ion-icon>
        </ion-col>
        <ion-col size="9" no-padding>
          <ion-row>
            <ion-col>
              <ion-label style="font-size: 0.9em">To Date</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd"
                style="padding: 0px;font-size:9px;color: #dc0f0f;">
              </ion-datetime>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="2" no-padding>
      <div style="margin-top: 9px; float: right">
        <ion-icon color="medium" ios="ios-search" md="md-search" style="font-size:2.3em;"
          (click)="getReport(report_name);"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
  <ion-list lines="none">
    <ion-item lines="none">
      <ion-label>Select Vehicle</ion-label>
      <ionic-selectable [(ngModel)]="port" [items]="vehicleList" itemValueField="id" itemTextField="name"
        [canSearch]="true" (onChange)="portChange($event)">
      </ionic-selectable>
    </ion-item>
  </ion-list>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">


        <ion-card *ngFor="let stopdata of stoppageReport">
          <ion-card-header class="ion-no-padding">
            <ion-list>
              <ion-item lines="none">
                <ion-img style="width: 28px;" slot="start" src="assets/imgs/ion-car.png"> </ion-img>
                <ion-label class="ion-text-wrap">
                  <ion-text color="dark">
                    <h3><b>{{stopdata.device}}</b></h3>
                  </ion-text>
                  <!-- <p>Duration - {{stopdata.Durations}}</p> -->
                </ion-label>
                <ion-chip slot='end' color="tertiary">
                  Duration - {{stopdata.Durations}}
                </ion-chip>
              </ion-item>
            </ion-list>
            <!-- <ion-row>
              <ion-col size="2">
                <ion-img src="assets/imgs/red-car.png"> </ion-img>
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12">
                    <p style="margin: 0px; padding: 0px; color: black;"><b>{{stopdata.device}}</b></p>
                  </ion-col>
                  <ion-col size="12">
                    <p style="margin: 0px; padding: 0px; font-size: 0.8em;">
                      Duration - {{stopdata.Durations}}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row> -->
            <ion-row>
              <ion-col size="6">
                <ion-row>
                  <ion-col size="2">
                    <ion-icon ios="ios-time" md="md-time" style="color:#048a2c; font-size: 15px;"></ion-icon>
                  </ion-col>
                  <ion-col size="10">
                    <p style="margin: 0px; padding: 0px;font-size: 1em;">{{stopdata.arrival_time | date: 'short'}}</p>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6">
                <ion-row>
                  <ion-col size="2">
                    <ion-icon ios="ios-time" md="md-time" style="color:#ee7272; font-size: 15px;"></ion-icon>
                  </ion-col>
                  <ion-col size="10">
                    <p style="margin: 0px; padding: 0px;font-size: 1em;">{{stopdata.departure_time | date: 'short'}}
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <!-- <ion-card-subtitle style="padding-left: 14px; padding-bottom: 5px;"> -->
            <ion-row style="padding-left: 5px;">
              <ion-col size="1">
                <ion-icon style="color:#048a2c; font-size: 18px;" name="pin"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <p style="margin: 0px; padding: 0px; font-weight: normal;">{{stopdata.EndLocation}}</p>
              </ion-col>
            </ion-row>
            <!-- </ion-card-subtitle> -->
          </ion-card-header>
        </ion-card>

        <ion-card *ngFor="let item of eventsData">
          <ion-card-header class="ion-no-padding">
            <ion-list>
              <ion-item lines="none">
                <ion-img style="width: 28px;" slot="start" src="assets/imgs/ion-car.png"> </ion-img>
                <ion-label class="ion-text-wrap">
                  <ion-text color="dark">
                    <h3>{{port.name}}</h3>
                  </ion-text>
                  <p><span style="font-weight: 500; font-size: 0.9em;">{{splitString(item.type)}}</span>
                  </p>
                </ion-label>
                <ion-chip slot='end' size="small" color="tertiary">
                  {{item.serverTime | date: 'short'}}
                </ion-chip>
              </ion-item>
            </ion-list>
            <!-- <ion-row>
              <ion-col size="2">
                <ion-img src="assets/imgs/red-car.png"> </ion-img>
              </ion-col>
              <ion-col size="10">
                <ion-row>
                  <ion-col size="12">
                    <p style="margin: 0px; padding: 0px; color: black;"><b>{{port.name}}</b></p>
                  </ion-col>
                  <ion-col size="12">
                    <p style="margin: 0px; padding: 0px; font-size: 1em;">
                      Type - <span style="font-weight: 600;" *ngIf="item.type == 'ignitionOn'">Ignition On</span>
                      <span style="font-weight: 600;" *ngIf="item.type == 'deviceStopped'">Device Stopped</span>
                      <span style="font-weight: 600;" *ngIf="item.type == 'ignitionOff'">Ignition Off</span>
                      <span style="font-weight: 600;" *ngIf="item.type == 'commandResult'">Command Result</span>
                    </p>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row> -->
            <!-- <ion-row style="padding-left: 16px;">
              <ion-col size="2" style="margin-left: 2px;">
                <ion-icon ios="ios-time" md="md-time" style="color:#277e3f; font-size: 1.2em;"></ion-icon>
              </ion-col>
              <ion-col size="10" style="margin-left: -10px;">
                <p style="margin: 0px; padding: 0px;font-size: 1em;">{{item.serverTime | date: 'short'}}</p>
              </ion-col>
            </ion-row> -->
          </ion-card-header>
        </ion-card>

        <ion-card *ngFor="let summarydata of summaryReport">
          <ion-card-header class="ion-no-padding">
            <ion-list>
              <ion-item>
                <ion-img style="width: 28px;" slot="start" src="assets/imgs/ion-car.png"> </ion-img>
                <ion-label><b>{{summarydata.Device_Name}}</b></ion-label>
                <ion-chip slot='end' color="tertiary">Distance - {{summarydata.distance | number: "1.0-2"}}&nbsp;<span
                    style="font-size: 0.8em;">km</span></ion-chip>
              </ion-item>
            </ion-list>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="4">
                <p class="para">
                  <span style="font-weight: 600; font-size: 1em;">{{ summarydata.startOdometer | number: "1.0-2"}}
                  </span>&nbsp;<span style="font-size: 0.8em;">km</span>
                </p>
                <p style="color:#048a2c;font-size:13px;font-weight: 350;">
                  Odometer Start
                </p>
              </ion-col>
              <ion-col size="4">
                <p class="para">
                  <span
                    style="font-weight: 600; font-size: 1em;">{{ summarydata.endOdometer | number: "1.0-2" }}</span>&nbsp;<span
                    style="font-size: 0.8em;">km</span>
                </p>
                <p style="text-align:left;font-size: 13px;color:red;font-weight:350;">
                  Odometer Stop
                </p>
              </ion-col>
              <ion-col size="4">
                <p class="para">
                  <span style="font-weight: 600; font-size: 1em;">{{
                      summarydata.engineHours
                      }}</span>
                </p>
                <p style="text-align:left;font-size: 13px;color:#11c1f3;font-weight:350;">
                  Engine Hours
                </p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="4">
                <p class="para">
                  <span
                    style="font-weight: 600; font-size: 1em;">{{ summarydata.averageSpeed | number: "1.0-2" }}</span>&nbsp;<span
                    style="font-size: 0.8em;">km/h</span>
                </p>
                <p style="color:#048a2c;font-size:13px;font-weight: 350;">Average Speed</p>
              </ion-col>
              <ion-col size="4">
                <p class="para">
                  <span
                    style="font-weight: 600; font-size: 1em;">{{ summarydata.maxSpeed | number: "1.0-2"}}</span>&nbsp;<span
                    style="font-size: 0.8em;">km/h</span>
                </p>
                <p style="text-align:left;font-size: 13px;color:red;font-weight:350;">Max Speed</p>
              </ion-col>
              <ion-col size="4">
                <p class="para">
                  <span style="font-weight: 600; font-size: 1em;">{{ summarydata.spentFuel | number: "1.0-2"}}
                  </span>&nbsp;<span style="font-size: 0.8em;">L</span>
                </p>
                <p style="text-align:left;font-size: 13px;color:#11c1f3;font-weight:350;">Spent Fuel</p>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

        <ion-card *ngFor="let tripdata of tripReport">
          <ion-card-header class="ion-no-padding">
            <ion-list>
              <ion-item>
                <ion-label><b>{{tripdata.Device_Name}}</b></ion-label>
                <ion-chip slot="end" color="tertiary">Distance - {{tripdata.distance | number : '1.0-2'}}&nbsp;<span
                    style="font-size: 0.8em;">km</span></ion-chip>
              </ion-item>
            </ion-list>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-row>
              <ion-col size="8">
                <!-- <ion-row style="height: 33px; overflow: hidden;text-overflow: ellipsis;">
                  <ion-col size="1">
                    <ion-icon name="pin" color="secondary" style="font-size: 15px;"></ion-icon>
                  </ion-col>
                  <ion-col size="11" style="font-size: 11px">
                    {{tripdata.StartLocation}}
                  </ion-col>
                </ion-row>
                <ion-row style="height: 33px; overflow: hidden;text-overflow: ellipsis;">
                  <ion-col size="1">
                    <ion-icon name="pin" color="danger" style="font-size: 15px;"></ion-icon>
                  </ion-col>
                  <ion-col size="11" style="font-size: 11px">
                    {{tripdata.EndLocation}}
                  </ion-col>
                </ion-row> -->
                <ion-row>
                  <ion-col size="1">
                    <ion-icon name="pin" style="font-size: 15px; color: #048a2c;"></ion-icon>
                  </ion-col>
                  <ion-col size="11" style="font-size: 11px">
                    {{tripdata.StartLocation}}
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size="1">
                    <ion-icon name="pin" color="danger" style="font-size: 15px;"></ion-icon>
                  </ion-col>
                  <ion-col size="11" style="font-size: 11px">
                    {{tripdata.EndLocation}}
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="4" style="padding-right: 16px;">
                <ion-img style="border-radius: 15px;" src="assets/Images/5Jzwb.png"></ion-img>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-row style="background-color:#f2f2f2; padding-top:5px; padding-bottom: 5px" padding-left padding-right>
            <ion-col size="4" style=" color:gray; font-weight: bold; text-align: left;">
              {{tripdata.start_time | date:'mediumDate'}}</ion-col>
            <ion-col size="8" style=" color:gray; font-weight: bold; text-align: right;" *ngIf="tripdata.duration">
              DURATION&nbsp;{{tripdata.duration}}</ion-col>
            <!-- <ion-col size="6" style=" color:gray; font-weight: bold; text-align: right;" *ngIf="!tripdata.duration">
              DURATION&nbsp;0hrs 0mins</ion-col> -->
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>