<!-- <ion-backdrop></ion-backdrop> -->
<div style="position: absolute;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.65);
color: #fff;">
    <div style="height: auto;
width: 80%;
background: #fff;
margin: auto;
border-radius: 15px;
margin-top: 35%;">
        <ion-list style="border-radius: 15px;">
            <ion-item>
                <ion-label>Alert Types</ion-label>
                <!-- <ion-select multiple="true" cancelText="Nah" okText="Okay!" [(ngModel)]="selectedAlertType"
                    (ionChange)="callThis(selectedAlertType)"> -->
                <ion-select multiple="true" cancelText="Nah" okText="Okay!" [(ngModel)]="selectedAlertType">
                    <ion-select-option value="allEvents">All alerts</ion-select-option>
                    <ion-select-option value="geofenceExit">Geofence exited</ion-select-option>
                    <ion-select-option value="deviceStopped">Device stopped</ion-select-option>
                    <ion-select-option value="maintenance">Maintainence required</ion-select-option>
                    <ion-select-option value="deviceOnline">Status online</ion-select-option>
                    <ion-select-option value="deviceOffline">Status offline</ion-select-option>
                    <ion-select-option value="geofenceEnter">Geofence entered</ion-select-option>
                    <ion-select-option value="deviceOverspeed">Speed limit exceeded</ion-select-option>
                    <ion-select-option value="deviceUnknown">Status unknown</ion-select-option>
                    <ion-select-option value="deviceMoving">Device Moving</ion-select-option>
                    <ion-select-option value="textMessage">Text message received</ion-select-option>
                    <ion-select-option value="alarm">Alarm</ion-select-option>
                    <ion-select-option value="deviceFuelDrop">Fuel drop</ion-select-option>
                    <ion-select-option value="commandResult">Command result</ion-select-option>
                    <ion-select-option value="ignitionOn">Ignition on</ion-select-option>
                    <ion-select-option value="ignitionOff">Ignition off</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>From Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [min]="twoMonthsLater"
                    [max]="today" [(ngModel)]="datetimeStart" style="font-size: 15px;">
                </ion-datetime>
                <!-- <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime> -->
            </ion-item>
            <ion-item>
                <ion-label>To Date</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a"
                    [(ngModel)]="datetimeEnd" style="font-size: 15px;">
                </ion-datetime>
                <!-- <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime> -->
            </ion-item>

            <ion-button color="tertiary" expand="block" (click)="applyFilter()">Apply Filter</ion-button>
        </ion-list>

    </div>
</div>