<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/maintabs/tabs/vehicle-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Alerts</ion-title>
    <ion-icon slot="end" name="list" style="font-size: 1.8em; padding-right: 10px;" (click)="showFilter()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of eventsData">
      <ion-label>
        <h3>{{data.name}}</h3>
        <p>{{splitString(item.type)}}</p>
      </ion-label>
      <ion-chip slot="end" color="tertiary">{{item.serverTime | date:'medium'}}</ion-chip>
    </ion-item>
  </ion-list>
</ion-content>