<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-row>
          <ion-col size="2">
            <ion-avatar>
              <img src="assets/Images/user-image-.png">
            </ion-avatar>
          </ion-col>
          <ion-col size="8">
            <ion-title>{{userdetails.name}}</ion-title>
            <p style="padding: 3px 0px 0px 20px; margin: 0px;">{{userdetails.email}}</p>
          </ion-col>
          <ion-col size="2" *ngIf="userdetails.administrator">
            <ion-chip color="tertiary">Admin</ion-chip>
          </ion-col>
        </ion-row>
        <ion-list lines="full">
          <ion-item detail (click)="onClick()">
            <ion-icon name="switch"></ion-icon>
            <ion-label>&nbsp;&nbsp;Configure Alerts</ion-label>
          </ion-item>
          <!-- <ion-item>
            <ion-icon name="notifications"></ion-icon>
            <ion-label>&nbsp;&nbsp;Mute Notifications</ion-label>
            <ion-toggle color="primary"></ion-toggle>
          </ion-item> -->
        </ion-list>

        <ion-list lines="full">
          <ion-item detail [routerLink]="['/', 'maintabs','tabs', 'settings', 'users']">
            <ion-icon name="people"></ion-icon>
            <ion-label>&nbsp;&nbsp;Users</ion-label>
          </ion-item>
          <!-- <ion-item detail (click)="cpassword()">
            <ion-icon name="key"></ion-icon>
            <ion-label>&nbsp;&nbsp;Change Password</ion-label>
          </ion-item> -->
          <!-- <ion-item detail (click)="support()">
            <ion-icon name="people"></ion-icon>
            <ion-label>&nbsp;&nbsp;Support</ion-label>
          </ion-item> -->
        </ion-list>
        <ion-row>
          <ion-col style="text-align: center;">
            <p>App version - {{app_version}}</p>
          </ion-col>
        </ion-row>
        <ion-button expand="block" fill="outline" style="color:black" (click)="onLogout()">Logout</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>