<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="primary">
      <ion-button slot="icon-only" (click)="gotoSettings()">
        <ion-icon style="font-size: 1.8em;" name="cog"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div id="chart" class="chart" style="margin-bottom: 5%;">
          <canvas #doughnutCanvas height="200" width="200"></canvas>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-row>
    <ion-col size="3" style="margin:auto" (tap)="details('RUNNING')">
      <div style="background-color: green; border-radius: 50%; width: 80%; height: 80%; margin: auto; text-align: center;">
        <ion-icon name="car" style="font-size: 4.3em;
        text-align: center;
        color: white;"></ion-icon>
      </div>
      <div style="text-align: center;">
        <p>{{Running}}</p>
        <p>Running</p>
      </div>

    </ion-col>
    <ion-col size="3" style="margin:auto" (tap)="details('IDLING')">
      <div style="background-color: orange; border-radius: 50%; width: 80%; height: 80%; margin: auto; text-align: center;">
        <ion-icon name="car" style="font-size: 4.3em;
        text-align: center;
        color: white;"></ion-icon>
      </div>
      <div style="text-align: center;">
        <p>{{IDLING}}</p>
        <p no-padding>Idle</p>
      </div>
    </ion-col>

    <ion-col size="3" style="margin:auto" (tap)="details('STOPPED')">
      <div style="background-color: red; border-radius: 50%; width: 80%; height: 80%; margin: auto; text-align: center;">
        <ion-icon name="car" style="font-size: 4.3em;
        text-align: center;
        color: white;"></ion-icon>
      </div>
      <div style="text-align: center;">
        <p>{{Stopped}}</p>
        <p no-padding>Stop</p>
      </div>
    </ion-col>

    <ion-col size="3" style="margin:auto" (tap)="details('OUT OF REACH')">
      <div
        style="background-color: skyblue; border-radius: 50%; width: 80%; height: 80%; margin: auto; text-align: center;">
        <ion-icon name="car" style="font-size: 4.3em;
        text-align: center;
        color: white;"></ion-icon>
      </div>
      <div style="text-align: center;">
        <p>{{OutOffReach}}</p>
        <p no-padding>Inactive</p>
      </div>
    </ion-col>
  </ion-row> -->
  <ion-row>
    <ion-col size="6" style="background-color: rgb(230, 203, 82); text-align: center;">
      <ion-row>
        <ion-col>
          <p style="font-size: 1em;">Geofence Out</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-icon src="assets/imgs/locate.svg" style="font-size: 2.8em;"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <p style="font-size: 1.6em; margin: 0px; font-weight: bold;">50</p>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="6" style="background-color: rgb(233, 67, 150); text-align: center;">
      <ion-row>
        <ion-col>
          <p style="font-size: 1em;">Geofence In</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-icon src="assets/imgs/locate.svg" style="font-size: 2.8em;"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <p style="font-size: 1.6em; margin: 0px; font-weight: bold;">10</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" style="background-color: rgb(107, 189, 132); text-align: center;">
      <ion-row>
        <ion-col>
          <p style="font-size: 1em;">Over Speed</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-icon name="speedometer" style="font-size: 2.8em;"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <p style="font-size: 1.6em; margin: 0px; font-weight: bold;">20</p>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="6" style="background-color: rgb(192, 97, 221); text-align: center;">
      <ion-row>
        <ion-col>
          <p style="font-size: 1em;">SOS</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-icon name="hand" style="font-size: 2.8em;"></ion-icon>
        </ion-col>
        <ion-col size="6">
          <p style="font-size: 1.6em; margin: 0px; font-weight: bold;">89</p>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>