<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Geofences</ion-title>
    <ion-icon slot="end" name="add" style="font-size: 1.8em; padding-right: 10px;" (click)="addGeofence()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding: initial;">
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list *ngFor="let geo of geofences" style="padding: initial">
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="assets/imgs/locate.svg" style="width: 25px;
              height: 25px;
              margin: auto;
              margin-top: 15%;"></ion-img>
            </ion-avatar>
            <ion-label>
              <h3>{{geo.name}}</h3>
            </ion-label>
            <p *ngIf="geo.description" style="
                  font-size: smaller;color: gray; margin-bottom: unset;">Description - {{geo.description}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>