<ion-header>
  <ion-toolbar color="tertiary">
    <ion-back-button slot="start" defaultHref="/maintabs/tabs/vehicle-list"></ion-back-button>
    <ion-title>Add Device</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none" *ngIf="attempToSubmit && (name === undefined)">
      <p style="font-size: 0.85em; color: red; margin: 0px;">Please enter device name is required.</p>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Identifier</ion-label>
      <ion-input type="text" [(ngModel)]="imei"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none" *ngIf="attempToSubmit && (imei === undefined)">
      <p style="font-size: 0.85em; color: red; margin: 0px;">Please enter identifier is required.</p>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Sim Number</ion-label>
      <ion-input type="number" [(ngModel)]="sim_num"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none" *ngIf="attempToSubmit && (sim_num === undefined)">
      <p style="font-size: 0.85em; color: red; margin: 0px;">Please enter device sim number required.</p>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Model</ion-label>
      <ion-input type="text" [(ngModel)]="model"></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none" *ngIf="attempToSubmit && (model === undefined)">
      <p style="font-size: 0.85em; color: red; margin: 0px;">Please enter device model required.</p>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="category">
        <ion-select-option *ngFor="let item of categories" [value]="item.name">{{item.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="ion-no-padding" lines="none" *ngIf="attempToSubmit && (category === undefined)">
      <p style="font-size: 0.85em; color: red; margin: 0px;">Please choose device category.</p>
    </ion-item>

    <ion-button expand="block" color="tertiary" (click)="addDevice()">Add Device</ion-button>

  </ion-list>
</ion-content>